body{
    background-color: #A8DADC;
}

.navbar{
    background-color: #1D3557;
    position: relative;
}

.weatherHeader{
    position: absolute;
}

.fa-umbrella{
    color: #EF8089;
}

.fa-sun{
    color: rgb(255, 238, 88);
}

#weatherContainer{
    background-color: #4B86AA;
    margin-left: 15%;
    margin-right: 15%;
    border-left: 25px solid #F1FAEE;
    border-right: 25px solid #F1FAEE;
    height: 100vh;
    color: white;
}

#getWeatherButton{
    background-color: #F1FAEE;
} 